table {
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

h3 { text-align: center; }

tr { height: 13%; }

th, td {
	border: 1px solid;
	height: 2.5%;
}

.nome { column-count: 4; }

.legenda { font-weight: bold; }

.colunaData { width: 10%; }

.colunaEntrada, .colunaSaida { width: 15%; }

.colunaAssinatura { width: 60%; }

.naoLetivo { background-color: darkgray; }
